body {
  background-color: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
}
.progressBar {
  width: 80%;
  height: 2px;
  display: inline-block;
  background-color: rgb(222, 223, 227);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select:none;
  -moz-user-select:none;      
  -webkit-user-select:none;  
  -ms-user-select:none;       
  -khtml-user-select:none;   
}
.moveBar {
  width: 0;
  height: 2px;
  float: left;
  background-color: #DB4139;
  position: relative;
}
.moveBtn {
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -1.5px;
  border: 1px solid #DB4139;
  background-color: #DB4139;
  box-shadow: 0 0 1px 5px white; 
  border-radius: 50%;
}