<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    h2 {
      text-align: center;
    }
    input[type='text'] {
      margin-top: 10px;
      width: 500px;
      height: 30px;
      border-radius: 5px;
      outline: none;
    }
    li {
      list-style: none;
    }
    #app {
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 0);       
    }
    .itemStyle {
      padding: 5px;
    }
    .finishItem {
      text-decoration: line-through;
    }
  </style>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="newItem" @keyup.enter="addItem">
    <ul>
      <li class="itemStyle" v-for="items in item">
        <input type="checkbox" v-model="items.isFinished">
        <span :class="{finishItem: items.isFinished}">{{ items.text}}</span>
      </li>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        title: 'toDoList',
        newItem: '',
        item: [
          {
            text: '1',
            isFinished: false
          },
          {
            text: '2',
            isFinished: false
          }
        ],
      },
      methods: {
        addItem() {
          this.item.push({
            text: this.newItem,
            isFinished: false
          }); 
          this.newItem = ' ';
        }
      }
    });
  </script>
</body>
</html>