<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    h2 {
      text-align: center;
    }
    input[type='text'] {
      margin-top: 10px;
      width: 500px;
      height: 30px;
      border-radius: 5px;
      outline: none;
    }
    li {
      list-style: none;
    }
    #app {
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translate(-50%, 0);       
    }
    .itemStyle {
      padding: 5px;
    }
    .finishItem {
      text-decoration: line-through;
    }
  </style>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="newItem" @keyup.enter="addItem" placeholder="向前有路，未来可期">
    <ul>
      <li class="itemStyle" v-for="items in item">
        <!-- <input type="checkbox" v-model="items.isFinished"> -->
        <span :class="{finishItem: items.isFinished}">{{ items.text }}  {{ items.isFinished }}</span>
      </li>
      <!-- items.isFinished值为false,但刷新页面总是启用finishItem类 -->
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        title: 'toDoList',
        newItem: '',
        item: []
      },
      methods: {
        addItem() {
          this.item.push({
            text: this.newItem,
            isFinished: false
          }); 
          localStorage.setItem(this.newItem, false);
          this.newItem = ' ';
        },
        // update() {
        //   for(let i=0; i<this.item; i++) {
        //     localStorage.setItem(this.item.text, this.item.isFinished);
        //   } 
        // }
      },
      mounted() {
      //  localStorage.clear();
        for(let i=0; i<localStorage.length; i++) {
          this.item.push({
            text: localStorage.key(i),
            isFinished: localStorage.getItem(localStorage.key(i))
          });
        }
        for(let i=0; i<this.item.length; i++) {
          console.log(this.item[i].text + " " + this.item[i].isFinished);
        }
      },
      watch: {
        // items.isFinished: {
          // 不知道怎么实现对checkbox变化的监听
        // }
      }
    });
  </script>
</body>
</html>